 
	td, th, body { font-family: 'Lucida Grande','Lucida Sans',Georgia,serif; font-size: 13px; color: 000000; }

	a { color: 000066; font-weight: bold; text-decoration: none }
	a:hover { color: 660000; }
	.feedback {color:#ffffff; border-style: solid ; border-width: 1; text-align:justify; font-size:14px; font-weight:bold; background-color:996666}
	.loginstring {color:000066; border-style: solid ; border-width: 1; text-align:justify; font-size:14px; background-color:ddddaa; text-align:right; }
 	.bgclassfirst{background-color:#ffeeaa}
	.bgclasssecond{background-color:#eeddaa}
	.bgclassother{background-color:#ee9999}
	.bgclassline{background-color:#aa9999}
	.bgclassfresh{background-color:#e7d7d7}
	.heading{ font-size: 14px; font-weight: bold; text-decoration: none }
	.topnav{ font-size: 14px; font-weight: bold; text-decoration: none; padding-bottom: 10px; }
	.searchselect{ font-size: 9px;  text-decoration: none; padding-bottom: 10px; }
	.toolheader{font-size:30px; color:#9999cc; letter-spacing:0.2em;}
	.topnav_selected{background-color:#aa9900;}
	.topnav_notselected{background-color:#cc9900;}
	.helplink{color: 999999; margin-right:3px; position: relative;top: 0px;left: 0px; z-index: 200; border-style: solid ; border-width: 1; text-align:justify; font-size:8px; background-color:cccccc}
	a.mapdragbar{ font-size: 14px; font-weight: bold;}
	a.mapdragbar:hover{ background-color:#ffff00}
	a.mapfield{ font-size: 10px; font-weight: bold;-moz-user-select:none}
	a.mapfield:hover{ background-color:#ffff00}
	
	.comparatoritem{border: 1px solid #666666; ;background-color:transparent};
	
	input.btn
	{
		color:#000000;
		font-size:100%;
		background-color:#ccbbaa;
		border:1px solid;
		border-top-color:#cccccc;
		border-left-color:#cccccc;
		border-right-color:#666666;
		border-bottom-color:#666666;
   }
   
   input.btnhov
   {
		font-size:100%;
		font-weight:bold;
		border:1px solid;
		color:#000000;
		background-color:#ffffff;
		border-top-color:#ffffff;
		border-left-color:#ffffff;
		border-right-color:#000000;
		border-bottom-color:#000000;
   }