 
	td, th, body, div { font-family: arial; font-size: 10px; color: 000000; }

	a { color: 333333;    }
 
	.feedback {position: absolute;top: 40px;right: 0px; z-index: 100; color:000000; border-style: solid ; border-width: 1; text-align:justify; font-size:12px; background-color:cccccc}
	.loginstring {color:000066; border-style: solid ; border-width: 1; text-align:justify; font-size:10px; background-color:f0f0ff; text-align:right}
	.tf_search{font-size: 10px;}
	.searchtype{font-size: 10px;}
	.searchselect{font-size: 10px;}
 	.bgclassfirst{background-color:#dddddd}
	.bgclasssecond{background-color:#eeeeee}
	.bgclassother{background-color:#cccccc}
	.bgclassline{background-color:#999999}
	.bgclassfresh{background-color:#e0e0e0}
	.heading{ font-size: 12px; font-weight: bold; text-decoration: none }
	.topnav{ font-size: 10px; font-weight: bold; text-decoration: none }
	.searchselect{ font-size: 9px;  text-decoration: none }
	.toolheader{font-size:30px; color:#999999; letter-spacing:0.2em;}
	.topnav_selected{background-color:#ffffff;}
	.topnav_notselected{background-color:#dddddd;   border-width: 1;border-style: solid }
	.inlineedit{ border-style : none;opacity: .55;background-color : white;filter:alpha(opacity=55);font-size:10px; }
	.overlay{font-size: 10px;text-decoration: none ;border-width: 1; border-style: solid ; alpha(opacity=77); opacity: .77;  padding:3px; background-color:ffffff;}
	input.btn
	{
		color:#000000;
		font-size:100%;
		background-color:#ccbbaa;
		border:1px solid;
		border-top-color:#cccccc;
		border-left-color:#cccccc;
		border-right-color:#666666;
		border-bottom-color:#666666;
   }
   
   input.btnhov
   {
		font-size:100%;

		border:1px solid;
		color:#000000;
		background-color:#ffffff;
		border-top-color:#ffffff;
		border-left-color:#ffffff;
		border-right-color:#000000;
		border-bottom-color:#000000;
   }